version: "3.0"

services:
  guacamole:
    image: qualitesthub/qualix_guacamole:${TAG_GUACAMOLE}
    hostname: guacamole
    container_name: guacamole
    depends_on:
      - guacd
    environment:
      - GUACAMOLE_HOME=/opt/guacamole/.guacamole
      - GUACD_HOSTNAME=guacd
      - GUACD_PORT=4822
    ports:
      - 80:8080
      - 443:8443
    volumes:
      - files:${GUACAMOLE_HOME}/files
    networks:
      guacnetwork_compose:
    restart: always
  guacd:
    image: qualitesthub/qualix_guacd:${TAG_GUACD}
    hostname: guacd
    container_name: guacd
    ports:
      - 4822:4822
    networks:
      guacnetwork_compose:


volumes:
  files:

networks:
  guacnetwork_compose:
    driver: bridge
